@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	text-decoration: none;
	font-family: poppins;
	list-style: none;
	scroll-behavior: smooth;
	/* overflow-x: hidden; */
}
/*================================== content footer =========================================*/
body::-webkit-scrollbar {
    width: 2px;
}
  
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: #FFF;
    outline: 1px solid #FFF;
}

textarea::-webkit-scrollbar {
    width: 2px;
}
  
textarea::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

textarea::-webkit-scrollbar-thumb {
    background-color: #787878;
    outline: 1px solid #3e3e3e;
}

@media (min-width: 1080px) and (max-width: 1980px){
    .logo img{
        /* display: block;
        margin: 0 auto; */
        margin-top: 5px;
        width: 180px;
        height: auto;
    }
    .content-header{
        position: fixed;
        width: 100%;
        padding: 10px 0 0 0;
        background: rgba(255, 255, 255, 1);
        /* border-radius: 16px; */
        /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
        /* backdrop-filter: blur(19.9px);
        -webkit-backdrop-filter: blur(19.9px); */
        border-bottom: 1px solid #dcdcdc;
    }
    .content-about-us{
        margin: 0;
        padding: 140px 80px 100px 80px;
        overflow-x: hidden;
    }
    .card-view{
        display: flex;
        align-items: start;
        justify-content: space-between;
    }
    .card-about-us{
        margin-top: 20px;
        padding: 20px;
        background-color: rgba(27, 108, 141, 0.1);
        border-radius: 10px;
        /* box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 12px; */
    }
    .margin-right{
        margin-right: 20px;

    }
    .head-text{
        font-size: 2.5rem;
        font-weight: 700;
        color: #0C1F26;
    }
    .sub-text{
        font-size: 1.3rem;
        font-weight: 700;
        color: #0C1F26;
        /* opacity: 0.7; */
    }
    .icon{
        margin-right: 10px;
        width: 35px;
        height: 35px;
        max-width: 100%;
        max-height: 100%;
        padding: 8px;
        background-color: #0C1F26;
        border-radius: 10px;
    }
    .link-contact{
        display: flex;
        align-items:start;
        margin: 20px 20px 0 0;
        font-size: 1.1rem;
        font-size: 300;
        text-decoration: none;
        color: #00135f; /*#0C1F26*/
    }
    .description{
        margin-top: 20px;
        text-align: justify;
        word-break: break-all;
    }
    .providing{
        display: flex;
        align-items:start;
        margin: 20px 30px 0 0;
        font-size: 1.1rem;
        font-size: 300;
        text-decoration: none; /*#0C1F26*/
    }
    .icon-arrow{
        margin-right: 10px;
    }
}

@media (min-width: 769px) and (max-width: 1079px){
    .logo img{
        /* display: block;
        margin: 0 auto; */
        margin-top: 5px;
        width: 170px;
        height: auto;
    }
    .content-header{
        position: fixed;
        width: 100%;
        padding: 10px 0 0 0;
        background: rgba(255, 255, 255, 1);
        /* border-radius: 16px; */
        /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
        /* backdrop-filter: blur(19.9px);
        -webkit-backdrop-filter: blur(19.9px); */
        border-bottom: 1px solid #dcdcdc;
    }
    .content-about-us{
        margin: 0;
        padding: 100px 30px 0 30px;
        overflow-x: hidden;
    }
    .card-view{
        display: flex;
        align-items: start;
        justify-content: start;
    }
    .card-about-us{
        margin: 20px 0 0 20px;
        padding: 20px;
        background-color: rgba(27, 108, 141, 0.1);
        border-radius: 10px;
        /* box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 12px; */
    }
    .head-text{
        font-size: 1.5rem;
        font-weight: 700;
        color: #0C1F26;
    }
    .sub-text{
        font-size: 1.1rem;
        font-weight: 700;
        color: #0C1F26;
        /* opacity: 0.7; */
    }
    .icon{
        margin-top: 20px;
        margin-right: 10px;
        width: 30px;
        height: 30px;
        max-width: 100%;
        max-height: 100%;
        padding: 5px;
        background-color: #0C1F26;
        border-radius: 7px;
    }
    .link-contact{
        display: flex;
        align-items: start;
        justify-content: start;
    }
    .link-text{
        margin: 20px 20px 0 0;
        font-size: 1.0rem;
        font-size: 300;
        text-decoration: none;
        color: #00135f; /*#0C1F26*/
    }
    .description{
        margin-top: 20px;
        text-align: justify;
    }
    .providing{
        display: flex;
        align-items:start;
        margin: 20px 30px 0 0;
        font-size: 0.95rem;
        font-size: 300;
        text-decoration: none; /*#0C1F26*/
    }
    .icon-arrow{
        margin-right: 10px;
    }
}

@media (min-width: 468px) and (max-width: 768px){
    .logo img{
        /* display: block;
        margin: 0 auto; */
        margin-top: 5px;
        width: 160px;
        height: auto;
    }
    .content-header{
        position: fixed;
        width: 100%;
        padding: 10px 0 0 0;
        background: rgba(255, 255, 255, 1);
        /* border-radius: 16px; */
        /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
        /* backdrop-filter: blur(19.9px);
        -webkit-backdrop-filter: blur(19.9px); */
        border-bottom: 1px solid #dcdcdc;
    }
    .content-about-us{
        margin: 0;
        padding: 100px 30px 0 30px;
        overflow-x: hidden;
    }
    .card-view{
        display: block;
        align-items: start;
        justify-content: start;
    }
    .card-about-us{
        margin-top: 20px;
        padding: 20px;
        background-color: rgba(27, 108, 141, 0.1);
        border-radius: 10px;
        /* box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 12px; */
    }
    .head-text{
        font-size: 1.5rem;
        font-weight: 700;
        color: #0C1F26;
    }
    .sub-text{
        font-size: 1.1rem;
        font-weight: 700;
        color: #0C1F26;
        /* opacity: 0.7; */
    }
    .icon{
        margin-top: 20px;
        margin-right: 10px;
        width: 30px;
        height: 30px;
        max-width: 100%;
        max-height: 100%;
        padding: 5px;
        background-color: #0C1F26;
        border-radius: 7px;
    }
    .link-contact{
        display: flex;
        align-items: start;
        justify-content: start;
    }
    .link-text{
        margin: 20px 20px 0 0;
        font-size: 1.0rem;
        font-size: 300;
        text-decoration: none;
        color: #00135f; /*#0C1F26*/
    }
    .description{
        margin-top: 20px;
        text-align: justify;
    }
    .providing{
        display: flex;
        align-items:start;
        margin: 20px 30px 0 0;
        font-size: 0.95rem;
        font-size: 300;
        text-decoration: none; /*#0C1F26*/
    }
    .icon-arrow{
        margin-right: 10px;
    }    
}

@media (max-width: 467px){
    .logo img{
        /* display: block;
        margin: 0 auto; */
        margin-top: 5px;
        width: 160px;
        height: auto;
    }
    .content-header{
        position: fixed;
        width: 100%;
        padding: 10px 0 0 0;
        background: rgba(255, 255, 255, 1);
        /* border-radius: 16px; */
        /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
        /* backdrop-filter: blur(19.9px);
        -webkit-backdrop-filter: blur(19.9px); */
        border-bottom: 1px solid #dcdcdc;
    }
    .content-about-us{
        margin: 0;
        padding: 100px 20px 0 20px;
        overflow-x: hidden;
    }
    .card-view{
        display: block;
        align-items: start;
        justify-content: start;
    }
    .card-about-us{
        margin-top: 20px;
        padding: 20px;
        background-color: rgba(27, 108, 141, 0.1);
        border-radius: 10px;
        /* box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 12px; */
    }
    .head-text{
        font-size: 1.7rem;
        font-weight: 700;
        color: #0C1F26;
    }
    .sub-text{
        font-size: 1.1rem;
        font-weight: 700;
        color: #0C1F26;
        /* opacity: 0.7; */
    }
    .icon{
        margin-top: 20px;
        margin-right: 10px;
        width: 30px;
        height: 30px;
        max-width: 100%;
        max-height: 100%;
        padding: 5px;
        background-color: #0C1F26;
        border-radius: 7px;
    }
    .link-contact{
        display: flex;
        align-items: start;
        justify-content: start;
    }
    .link-text{
        margin: 20px 20px 0 0;
        font-size: 1.0rem;
        font-size: 300;
        text-decoration: none;
        color: #00135f; /*#0C1F26*/
    }
    .description{
        margin-top: 20px;
        text-align: justify;
    }
    .providing{
        display: flex;
        align-items:start;
        margin: 20px 30px 0 0;
        font-size: 0.95rem;
        font-size: 300;
        text-decoration: none; /*#0C1F26*/
    }
    .icon-arrow{
        margin-right: 10px;
    }
}


/*================================== content footer =========================================*/

@media (min-width: 1080px) and (max-width: 1980px){
    .content-footer{
        margin: 0;
        background: #0C1F26;
    }
    .row-space{
        display: flex;
        align-content: center;
        justify-content: space-between;
    }
    .footer-img{
        margin: 30px 0px 0px 40px; 
    }
    .row-footer{
        display: flex;
        align-content: center;
        justify-content: flex-start;
    }
    .footer-col{
        margin: 30px 0 0 80px;
        display: block;
        align-content: center;
        justify-content: space-around;
    }
    .cs-text{
        font-size: 14px;
        font-weight: 400;
        color: #FFFFFF;
        margin-bottom: 20px;
    }
    .links{
        font-size: 13px;
        color: #9A9A9A;
        text-decoration: none;
    }
    .copyrights{ 
        margin: 50px 0 0 80px;
        padding-bottom: 30px;
        font-size: 13px;
        color: #9A9A9A;
    }
    .blur-bg{
        padding-right: 90px;
        height: 350px;
        width: auto;
        filter: blur(40px);
    }
}

@media (min-width: 769px) and (max-width: 1079px){
    .content-footer{
        margin: 40px 0 0 0;
        background: #0C1F26;
    }
    .row-space{
        display: flex;
        align-content: center;
        justify-content: space-between;
    }
    .footer-img{
        margin: 30px 0px 0px 40px; 
    }
    .row-footer{
        display: flex;
        align-content: center;
        justify-content: flex-start;
    }
    .footer-col{
        margin: 30px 0 0 80px;
        display: block;
        align-content: center;
        justify-content: space-around;
    }
    .cs-text{
        font-size: 14px;
        font-weight: 400;
        color: #FFFFFF;
        margin-bottom: 20px;
    }
    .links{
        font-size: 13px;
        color: #9A9A9A;
        text-decoration: none;
    }
    .copyrights{ 
        margin: 50px 0 0 80px;
        padding-bottom: 30px;
        font-size: 13px;
        color: #9A9A9A;
    }
    .blur-bg{
        padding-right: 90px;
        height: 350px;
        width: auto;
        filter: blur(40px);
    }
}

@media (min-width: 468px) and (max-width: 768px){
    .content-footer{
        margin: 40px 0 0 0;
        background: #0C1F26;
        overflow: hidden;
    }
    .row-space{
        display: flex;
        align-content: center;
        justify-content: space-between;
    }
    .footer-img{
        margin: 30px 0px 0px 40px; 
        height: 50px;
        width: auto;
    }
    .row-footer{
        width: 300px;
        display: block;
        align-content: center;
        justify-content: flex-start;
    }
    .footer-col{
        margin: 30px 0 0 80px;
        display: block;
        align-content: center;
        justify-content: space-around;
    }
    .cs-text{
        font-size: 14px;
        font-weight: 400;
        color: #FFFFFF;
        margin-bottom: 20px;
    }
    .links{
        font-size: 13px;
        color: #9A9A9A;
        text-decoration: none;
    }
    .copyrights{ 
        margin: 50px 0 0 80px;
        padding-bottom: 30px;
        width: 400px;
        font-size: 13px;
        color: #9A9A9A;
    }
    .blur-bg{
        /* padding-right: 190px; */
        height: 150px;
        width: auto;
        filter: blur(100px);
    }
}

@media (max-width: 467px){
    .content-footer{
        margin: 40px 0 0 0;
        background: #0C1F26;
        overflow: hidden;
    }
    .row-space{
        display: flex;
        align-content: center;
        justify-content: space-between;
    }
    .footer-img{
        margin: 30px 0px 0px 20px; 
        height: 50px;
        width: auto;
    }
    .row-footer{
        width: 300px;
        display: block;
        align-content: center;
        justify-content: flex-start;
    }
    .footer-col{
        margin: 30px 0 0 40px;
        display: block;
        align-content: center;
        justify-content: space-around;
    }
    .cs-text{
        font-size: 14px;
        font-weight: 400;
        color: #FFFFFF;
        margin-bottom: 20px;
    }
    .links{
        font-size: 13px;
        color: #9A9A9A;
        text-decoration: none;
    }
    .copyrights{ 
        margin: 50px 0 0 40px;
        padding-bottom: 30px;
        width: 400px;
        font-size: 10px;
        color: #FFF;
    }
    .blur-bg{
        /* padding-right: 190px; */
        height: 100px;
        width: auto;
        filter: blur(100px);
    }
}

/*================================== End content footer =========================================*/
