@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	text-decoration: none;
	font-family: poppins;
	list-style: none;
	scroll-behavior: smooth;
	/* overflow-x: hidden; */
}
/*================================== content footer =========================================*/
body::-webkit-scrollbar {
    width: 2px;
}
  
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: #FFF;
    outline: 1px solid #FFF;
}

textarea::-webkit-scrollbar {
    width: 2px;
}
  
textarea::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

textarea::-webkit-scrollbar-thumb {
    background-color: #787878;
    outline: 1px solid #3e3e3e;
}

@media (min-width: 1080px) and (max-width: 1980px){
    .logo img{
        /* display: block;
        margin: 0 auto; */
        margin-top: 5px;
        width: 180px;
        height: auto;
    }
    .content-header{
        position: fixed;
        width: 100%;
        padding: 10px 0 0 0;
        background: rgba(255, 255, 255, 1);
        /* border-radius: 16px; */
        /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
        /* backdrop-filter: blur(19.9px);
        -webkit-backdrop-filter: blur(19.9px); */
        border-bottom: 1px solid #dcdcdc;
    }
    .content-about-us{
        margin: 0;
        padding: 140px 0 100px 0%;
        overflow-x: hidden;
    }
    
    .head-text{
        padding: 0px 10% 0px 10%;
        font-size: 2.5rem;
        font-weight: 700;
        color: #0C1F26;
    }
    .about-us-description{
        padding: 0px 10% 20px 10%;
        margin-top: 20px;
        font-size: 1.1rem;
        text-align: left;
    }
    .sub-head-text{
        padding: 0px 10% 20px 10%;
        margin-top: 60px;
        font-size: 2.0rem;
        font-weight: 700;
        color: #0C1F26;
    }
    .img-card-details{
        margin: 40px 0px 0px 0px;
        padding: 0px 10% 20px 10%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .img-view{
        height: 400px;
        width: auto;
        border-radius: 20px;
    }
    .details-view{
        width: 400px;
        display: block;
        align-items: start;
        justify-content: space-between;
    }
    .title-view{
        font-weight: 700;
        font-size: 1.2rem;
        text-align: left;
    }
    .description-view{
        margin-top: 20px;
    }
    .content-msg{
        margin-top: 100px;
        padding: 100px 18% 100px 18%;
        display: block;
        text-align: center;
        justify-content: center;
        background-color: #850000;
    }
    .msg-line{
        font-size: 1.7rem;
        font-weight: 500;
        text-align: center;
        color: #FFF;
    }
    .btn-view{
        margin: 40px 40% 0 40%;
        padding: 15px;
        color: #fff;
        background-color: #0C1F26;
        border-radius: 50px;
    }
    .grid-view{
        padding: 0px 10% 20px 10%;
        display: grid;
        grid-template-columns: auto auto auto;
    }
    .card-view{
        margin: 20px 10px 5px 10px;
        padding: 20px;
        background-color: #0C1F26;
        border-radius: 10px;
        /* box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 12px; */
    }
    .providing{
        display: flex;
        align-items:center;
        font-size: 1.1rem;
        font-size: 300;
        color: #FFF;
        text-decoration: none; /*#0C1F26*/
    }
    .padding{
        padding: 0px 10% 20px 10%;
    }
    .sub-text{
        font-size: 1.3rem;
        font-weight: 700;
        color: #fff;
        /* opacity: 0.7; */
    }
    .icon{
        margin-right: 10px;
        width: 35px;
        height: 35px;
        max-width: 100%;
        max-height: 100%;
        padding: 8px;
        background-color: #0C1F26;
        border-radius: 10px;
    }
    .link-contact{
        display: flex;
        align-items:start;
        margin: 20px 20px 0 0;
        font-size: 1.1rem;
        font-size: 300;
        text-decoration: none;
        color: #fff; /*#0C1F26*/
    }
    .icon-arrow{
        margin-right: 10px;
    }
}

@media (min-width: 769px) and (max-width: 1079px){
    .logo img{
        /* display: block;
        margin: 0 auto; */
        margin-top: 5px;
        width: 180px;
        height: auto;
    }
    .content-header{
        position: fixed;
        width: 100%;
        padding: 10px 0 0 0;
        background: rgba(255, 255, 255, 1);
        /* border-radius: 16px; */
        /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
        /* backdrop-filter: blur(19.9px);
        -webkit-backdrop-filter: blur(19.9px); */
        border-bottom: 1px solid #dcdcdc;
    }
    .content-about-us{
        margin: 0;
        padding: 140px 0 100px 0%;
        overflow-x: hidden;
    }
    
    .head-text{
        padding: 0px 10% 0px 10%;
        font-size: 2.5rem;
        font-weight: 700;
        color: #0C1F26;
    }
    .about-us-description{
        padding: 0px 10% 20px 10%;
        margin-top: 20px;
        font-size: 1.1rem;
        text-align: left;
    }
    .sub-head-text{
        padding: 0px 10% 20px 10%;
        margin-top: 60px;
        font-size: 2.0rem;
        font-weight: 700;
        color: #0C1F26;
    }
    .img-card-details{
        margin: 40px 0px 0px 0px;
        padding: 0px 10% 20px 10%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .img-view{
        height: 300px;
        width: auto;
        border-radius: 20px;
    }
    .details-view{
        width: 400px;
        display: block;
        align-items: start;
        justify-content: space-between;
    }
    .title-view{
        font-weight: 700;
        font-size: 1.2rem;
        text-align: left;
    }
    .description-view{
        margin-top: 20px;
    }
    .content-msg{
        margin-top: 100px;
        padding: 100px 18% 100px 18%;
        display: block;
        text-align: center;
        justify-content: center;
        background-color: #850000;
    }
    .msg-line{
        font-size: 1.7rem;
        font-weight: 500;
        text-align: center;
        color: #FFF;
    }
    .btn-view{
        margin: 40px 40% 0 40%;
        padding: 15px;
        color: #fff;
        background-color: #0C1F26;
        border-radius: 50px;
    }
    .grid-view{
        padding: 0px 10% 20px 10%;
        display: grid;
        grid-template-columns: auto auto auto;
    }
    .card-view{
        margin: 20px 10px 5px 10px;
        padding: 20px;
        background-color: #0C1F26;
        border-radius: 10px;
        /* box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 12px; */
    }
    .providing{
        display: flex;
        align-items:center;
        font-size: 1.1rem;
        font-size: 300;
        color: #FFF;
        text-decoration: none; /*#0C1F26*/
    }
    .padding{
        padding: 0px 10% 20px 10%;
    }
    .sub-text{
        font-size: 1.3rem;
        font-weight: 700;
        color: #fff;
        /* opacity: 0.7; */
    }
    .icon{
        margin-right: 10px;
        width: 35px;
        height: 35px;
        max-width: 100%;
        max-height: 100%;
        padding: 8px;
        background-color: #0C1F26;
        border-radius: 10px;
    }
    .link-contact{
        display: flex;
        align-items:start;
        margin: 20px 20px 0 0;
        font-size: 1.1rem;
        font-size: 300;
        text-decoration: none;
        color: #fff; /*#0C1F26*/
    }
    .icon-arrow{
        margin-right: 10px;
    }
}

@media (min-width: 468px) and (max-width: 768px){
    .logo img{
        /* display: block;
        margin: 0 auto; */
        margin-top: 5px;
        width: 180px;
        height: auto;
    }
    .content-header{
        position: fixed;
        width: 100%;
        padding: 10px 0 0 0;
        background: rgba(255, 255, 255, 1);
        /* border-radius: 16px; */
        /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
        /* backdrop-filter: blur(19.9px);
        -webkit-backdrop-filter: blur(19.9px); */
        border-bottom: 1px solid #dcdcdc;
    }
    .content-about-us{
        margin: 0;
        padding: 140px 0 100px 0%;
        overflow-x: hidden;
    }
    
    .head-text{
        padding: 0px 10% 0px 10%;
        font-size: 2.5rem;
        font-weight: 700;
        color: #0C1F26;
    }
    .about-us-description{
        padding: 0px 10% 20px 10%;
        margin-top: 20px;
        font-size: 1.1rem;
        text-align: left;
    }
    .sub-head-text{
        padding: 0px 10% 20px 10%;
        margin-top: 60px;
        font-size: 2.0rem;
        font-weight: 700;
        color: #0C1F26;
    }
    .img-card-details{
        margin: 40px 0px 0px 0px;
        padding: 0px 10% 20px 10%;
        display: block;
        align-items: center;
        justify-content: space-between;
    }
    .img-revers{
        display: flex;
        flex-direction: column-reverse;
    }
    .img-view{
        height: 400px;
        width: auto;
        border-radius: 20px;
    }
    .details-view{
        margin: 10px;
        display: block;
        align-items: start;
        justify-content: space-between;
    }
    .title-view{
        font-weight: 700;
        font-size: 1.2rem;
        text-align: left;
    }
    .description-view{
        margin-top: 20px;
    }
    .content-msg{
        margin-top: 100px;
        padding: 100px 10% 100px 10%;
        display: block;
        text-align: center;
        justify-content: center;
        background-color: #FFC107;
    }
    .msg-line{
        font-size: 1.7rem;
        font-weight: 500;
        text-align: center;
        color: #FFF;
    }
    .btn-view{
        margin: 40px 40% 0 40%;
        padding: 15px;
        color: #fff;
        background-color: #0C1F26;
        border-radius: 50px;
    }
    .grid-view{
        padding: 0px 10% 20px 10%;
        display: grid;
        grid-template-columns: auto auto;
    }
    .card-view{
        margin: 20px 10px 5px 10px;
        padding: 20px;
        background-color: #0C1F26;
        border-radius: 10px;
        /* box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 12px; */
    }
    .providing{
        display: flex;
        align-items:center;
        font-size: 1.1rem;
        font-size: 300;
        color: #FFF;
        text-decoration: none; /*#0C1F26*/
    }
    .padding{
        padding: 0px 10% 20px 10%;
    }
    .sub-text{
        font-size: 1.3rem;
        font-weight: 700;
        color: #fff;
        /* opacity: 0.7; */
    }
    .icon{
        margin-right: 10px;
        width: 35px;
        height: 35px;
        max-width: 100%;
        max-height: 100%;
        padding: 8px;
        background-color: #0C1F26;
        border-radius: 10px;
    }
    .link-contact{
        display: flex;
        align-items:start;
        margin: 20px 20px 0 0;
        font-size: 1.1rem;
        font-size: 300;
        text-decoration: none;
        color: #fff; /*#0C1F26*/
    }
    .icon-arrow{
        margin-right: 10px;
    }    
}

@media (min-width: 375px) and (max-width: 467px){
    .logo img{
        /* display: block;
        margin: 0 auto; */
        margin-top: 5px;
        width: 180px;
        height: auto;
    }
    .content-header{
        position: fixed;
        width: 100%;
        padding: 10px 0 0 0;
        background: rgba(255, 255, 255, 1);
        /* border-radius: 16px; */
        /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
        /* backdrop-filter: blur(19.9px);
        -webkit-backdrop-filter: blur(19.9px); */
        border-bottom: 1px solid #dcdcdc;
    }
    .content-about-us{
        margin: 0;
        padding: 140px 0 100px 0%;
        overflow-x: hidden;
    }
    
    .head-text{
        padding: 0px 6% 0px 6%;
        font-size: 1.7rem;
        font-weight: 700;
        color: #0C1F26;
    }
    .about-us-description{
        padding: 0px 6% 20px 6%;
        margin-top: 20px;
        font-size: 0.9rem;
        text-align: left;
    }
    .sub-head-text{
        padding: 0px 6% 20px 6%;
        margin-top: 60px;
        font-size: 1.3rem;
        font-weight: 700;
        color: #0C1F26;
    }
    .img-card-details{
        margin: 20px 0px 0px 0px;
        padding: 0px 6% 20px 6%;
        display: block;
        align-items: center;
        justify-content: space-between;
    }
    .img-revers{
        display: flex;
        flex-direction: column-reverse;
    }
    .img-view{
        height: auto;
        width: 100%;
        border-radius: 13px;
    }
    
    .details-view{
        margin: 10px;
        display: block;
        align-items: start;
        font-size: 0.9rem;
        justify-content: space-between;
    }
    .title-view{
        font-weight: 700;
        font-size: 1.2rem;
        text-align: left;
    }
    .description-view{
        margin-top: 20px;
    }
    .content-msg{
        margin-top: 50px;
        padding: 60px 6% 60px 6%;
        display: block;
        text-align: center;
        justify-content: center;
        background-color: #850000;
    }
    .msg-line{
        font-size: 1.1rem;
        font-weight: 500;
        text-align: center;
        color: #FFF;
    }
    .btn-view{
        margin: 40px 30% 0 30%;
        padding: 15px;
        color: #0C1F26;
        font-size: 0.9rem;
        background-color: #fff;
        border-radius: 50px;
    }
    .grid-view{
        padding: 0px 5% 20px 5%;
        display: grid;
        grid-template-columns: auto;
    }
    .card-view{
        margin: 20px 10px 5px 10px;
        padding: 20px;
        background-color: #0C1F26;
        border-radius: 10px;
        /* box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 12px; */
    }
    .providing{
        display: flex;
        align-items:center;
        font-size: 0.8rem;
        font-size: 200;
        color: #FFF;
        text-decoration: none; /*#0C1F26*/
    }
    .padding{
        padding: 0px 6% 20px 6%;
    }
    .sub-text{
        font-size: 1.3rem;
        font-weight: 700;
        color: #fff;
        /* opacity: 0.7; */
    }
    .icon{
        margin-right: 10px;
        width: 35px;
        height: 35px;
        max-width: 100%;
        max-height: 100%;
        padding: 8px;
        background-color: #0C1F26;
        border-radius: 10px;
    }
    .link-contact{
        display: flex;
        align-items: start;
        margin: 20px 20px 0 0;
        font-size: 0.9rem;
        font-size: 300;
        text-decoration: none;
        color: #fff; /*#0C1F26*/
    }
    .link-text{
        margin-top: 7px;
    }
    .icon-arrow{
        margin-right: 10px;
    }
}


/*================================== content footer =========================================*/

@media (min-width: 1080px) and (max-width: 1980px){
    .content-footer{
        margin: 0;
        background: #0C1F26;
    }
    .row-space{
        display: flex;
        align-content: center;
        justify-content: space-between;
    }
    .footer-img{
        margin: 30px 0px 0px 40px; 
    }
    .row-footer{
        display: flex;
        align-content: center;
        justify-content: flex-start;
    }
    .footer-col{
        margin: 30px 0 0 80px;
        display: block;
        align-content: center;
        justify-content: space-around;
    }
    .cs-text{
        font-size: 14px;
        font-weight: 400;
        color: #FFFFFF;
        margin-bottom: 20px;
    }
    .links{
        font-size: 13px;
        color: #9A9A9A;
        text-decoration: none;
    }
    .copyrights{ 
        margin: 50px 0 0 80px;
        padding-bottom: 30px;
        font-size: 13px;
        color: #9A9A9A;
    }
    .blur-bg{
        padding-right: 90px;
        height: 350px;
        width: auto;
        filter: blur(40px);
    }
}

@media (min-width: 769px) and (max-width: 1079px){
    .content-footer{
        margin: 40px 0 0 0;
        background: #0C1F26;
    }
    .row-space{
        display: flex;
        align-content: center;
        justify-content: space-between;
    }
    .footer-img{
        margin: 30px 0px 0px 40px; 
    }
    .row-footer{
        display: flex;
        align-content: center;
        justify-content: flex-start;
    }
    .footer-col{
        margin: 30px 0 0 80px;
        display: block;
        align-content: center;
        justify-content: space-around;
    }
    .cs-text{
        font-size: 14px;
        font-weight: 400;
        color: #FFFFFF;
        margin-bottom: 20px;
    }
    .links{
        font-size: 13px;
        color: #9A9A9A;
        text-decoration: none;
    }
    .copyrights{ 
        margin: 50px 0 0 80px;
        padding-bottom: 30px;
        font-size: 13px;
        color: #9A9A9A;
    }
    .blur-bg{
        padding-right: 90px;
        height: 350px;
        width: auto;
        filter: blur(40px);
    }
}

@media (min-width: 468px) and (max-width: 768px){
    .content-footer{
        margin: 40px 0 0 0;
        background: #0C1F26;
        overflow: hidden;
    }
    .row-space{
        display: flex;
        align-content: center;
        justify-content: space-between;
    }
    .footer-img{
        margin: 30px 0px 0px 40px; 
        height: 50px;
        width: auto;
    }
    .row-footer{
        width: 300px;
        display: block;
        align-content: center;
        justify-content: flex-start;
    }
    .footer-col{
        margin: 30px 0 0 80px;
        display: block;
        align-content: center;
        justify-content: space-around;
    }
    .cs-text{
        font-size: 14px;
        font-weight: 400;
        color: #FFFFFF;
        margin-bottom: 20px;
    }
    .links{
        font-size: 13px;
        color: #9A9A9A;
        text-decoration: none;
    }
    .copyrights{ 
        margin: 50px 0 0 80px;
        padding-bottom: 30px;
        width: 400px;
        font-size: 13px;
        color: #9A9A9A;
    }
    .blur-bg{
        /* padding-right: 190px; */
        height: 150px;
        width: auto;
        filter: blur(100px);
    }
}

@media (max-width: 467px){
    .content-footer{
        margin: 40px 0 0 0;
        background: #0C1F26;
        overflow: hidden;
    }
    .row-space{
        display: flex;
        align-content: center;
        justify-content: space-between;
    }
    .footer-img{
        margin: 30px 0px 0px 20px; 
        height: 50px;
        width: auto;
    }
    .row-footer{
        width: 300px;
        display: block;
        align-content: center;
        justify-content: flex-start;
    }
    .footer-col{
        margin: 30px 0 0 40px;
        display: block;
        align-content: center;
        justify-content: space-around;
    }
    .cs-text{
        font-size: 14px;
        font-weight: 400;
        color: #FFFFFF;
        margin-bottom: 20px;
    }
    .links{
        font-size: 13px;
        color: #9A9A9A;
        text-decoration: none;
    }
    .copyrights{ 
        margin: 50px 0 0 40px;
        padding-bottom: 30px;
        width: 400px;
        font-size: 10px;
        color: #FFF;
    }
    .blur-bg{
        /* padding-right: 190px; */
        height: 100px;
        width: auto;
        filter: blur(100px);
    }
}

/*================================== End content footer =========================================*/
