*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	text-decoration: none;
	font-family: poppins;
	list-style: none;
	scroll-behavior: smooth;
	/* overflow-x: hidden; */
}
#loader{
    width: 100vw;
    height: 100vh;
    /* z-index: 1; */
    overflow: hidden;
    /* background: #ffffff url('assets/img/icon/Shiv-Shakti-Furniture-Animation.gif'); */
}
.pre-load{
    display: block;
    margin: 15% auto 0% auto;
    width: 40%;
}
