@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	text-decoration: none;
	font-family: poppins;
	list-style: none;
	scroll-behavior: smooth;
	/* overflow-x: hidden; */
}
/*================================== content footer =========================================*/
body::-webkit-scrollbar {
    width: 2px;
}
  
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: #FFF;
    outline: 1px solid #FFF;
}

@media (min-width: 1080px) and (max-width: 1980px){
    .logo img{
        /* display: block;
        margin: 0 auto; */
        margin-top: 5px;
        width: 180px;
        height: auto;
    }
    .content-header{
        position: fixed;
        width: 100%;
        padding: 10px 0 0 0;
        background: rgba(255, 255, 255, 1);
        /* border-radius: 16px; */
        /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
        /* backdrop-filter: blur(19.9px);
        -webkit-backdrop-filter: blur(19.9px); */
        /* border: 1px solid rgba(255, 255, 255, 0.58); */
    }
    .menu-btn-catalog{
		position:fixed;
		display: block;
		justify-content: center;
		align-items: center;
		padding-top: 30px;
        padding-bottom: 40px;
		width: 60px;
		height: 60px;
        top: 10px;
        left: -100px;
		z-index: 1000;
		cursor: pointer;
		transition: all .5s ease-in-out;
	}
	.menu-btn__burger{
		width: 43px;
		height: 2px;
		background-color: #000000;
		border-radius: 5px;
        margin-left: 30px;
		/*box-shadow: 0 2px 5px rgba(255,101,47,2);*/
		transition: all .5s ease-in-out;
	}
	.menu-btn__burger::before,
	.menu-btn__burger::after{
		content: '';
		position: absolute;
		width: 43px;
		height: 2px;
		background-color: #000000;
		border-radius: 5px;
		transition: all .5s ease-in-out;
	}
	.menu-btn__burger::before{
		width: 43px;
		transform: translateY(-10px);
	}
	.menu-btn__burger::after{
		width: 43px;
		transform: translateY(10px);
	}
    
    .catalog-tab{
        display: flex;
        align-items: start;
        justify-content: space-around;
        border-bottom: 1px solid #D9D9D9;
    }
    .head-title{
        margin-top: 100px;
        padding: 10px 0 0 15px;
        font-size: 20px;
		font-weight: 700;
    }
    .tab-list{
        margin: 100px 0 0 10px;
        display: inline-flex;
        align-items: start;
        justify-content: start;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        scroll-behavior: smooth;
    }
    .tab-list::-webkit-scrollbar {
        width: 1px;
    }
      
    .tab-list::-webkit-scrollbar-track {
        box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.1);
    }
    
    .tab-list::-webkit-scrollbar-thumb {
        background-color: #FFF;
        outline: 0px solid #FFF;
    }
    
    .li-tab{
        padding: 5px;
        height: 40px;
        word-wrap: normal;
        margin: 5px 10px 5px 5px;
        border: 1px solid #c6c6c6;
        border-radius: 8px;
        background-color: #FFFFFF;
        transition: all .5s ease;
    }
    .li-tab:hover{
        padding: 5px;
        color: #FFFFFF;
        border-radius: 8px;
        background-color: #F07C00;
        transition: all .5s ease;
    }
    a.tab-link{
        padding: 8px;
        text-decoration: none;
        color: #000000;
        font-size: 0.9rem;
        font-weight: 300;
    }
    a.tab-link:hover{
        color: #FFFFFF;
        transition: all .5s ease;
    }
    .active{
        padding: 8px;
        border-radius: 8px;
        border: 1px solid #F07C00;
        background-color: #F07C00;
        transition: all .5s ease;
    }
    .active a{
        color:#FFFFFF;
    }
}

@media (min-width: 769px) and (max-width: 1079px){
    .logo img{
        /* display: block;
        margin: 0 auto; */
        margin-top: 5px;
        width: 180px;
        height: auto;
    }
    .content-header{
        position: fixed;
        width: 100%;
        padding: 10px 0 0 0;
        background: rgba(255, 255, 255, 1);
        /* border-radius: 16px; */
        /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
        /* backdrop-filter: blur(19.9px); */
        /* -webkit-backdrop-filter: blur(19.9px); */
        /* border: 1px solid rgba(255, 255, 255, 0.58); */
    }
    .menu-btn-catalog{
		position:fixed;
		display: block;
		justify-content: center;
		align-items: center;
		padding-top: 30px;
        padding-bottom: 40px;
		width: 60px;
		height: 60px;
        top: 10px;
        left: -100px;
		z-index: 1000;
		cursor: pointer;
		transition: all .5s ease-in-out;
	}
	.menu-btn__burger{
		width: 43px;
		height: 2px;
		background-color: #000000;
		border-radius: 5px;
        margin-left: 30px;
		/*box-shadow: 0 2px 5px rgba(255,101,47,2);*/
		transition: all .5s ease-in-out;
	}
	.menu-btn__burger::before,
	.menu-btn__burger::after{
		content: '';
		position: absolute;
		width: 43px;
		height: 2px;
		background-color: #000000;
		border-radius: 5px;
		transition: all .5s ease-in-out;
	}
	.menu-btn__burger::before{
		width: 43px;
		transform: translateY(-10px);
	}
	.menu-btn__burger::after{
		width: 43px;
		transform: translateY(10px);
	}
    .catalog-tab{
        display: flex;
        align-items: start;
        justify-content: space-around;
        border-bottom: 1px solid #D9D9D9;
    }
    .head-title{
        margin-top: 100px;
        padding: 10px 0 0 15px;
        font-size: 20px;
		font-weight: 700;
    }
    .tab-list{
        margin: 100px 0 0 10px;
        display: inline-flex;
        align-items: start;
        justify-content: start;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        scroll-behavior: smooth;
    }
    .tab-list::-webkit-scrollbar {
        width: 1px;
    }
      
    .tab-list::-webkit-scrollbar-track {
        box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.1);
    }
    
    .tab-list::-webkit-scrollbar-thumb {
        background-color: #FFF;
        outline: 0px solid #FFF;
    }
    
    .li-tab{
        padding: 3px;
        height: 35px;
        word-wrap: normal;
        margin: 5px 10px 5px 5px;
        border: 1px solid #c6c6c6;
        border-radius: 8px;
        background-color: #FFFFFF;
        transition: all .5s ease;
    }
    .li-tab:hover{
        padding: 5px;
        color: #FFFFFF;
        border-radius: 8px;
        background-color: #F07C00;
        transition: all .5s ease;
    }
    a.tab-link{
        padding: 8px;
        text-decoration: none;
        color: #000000;
        font-size: 0.7rem;
        font-weight: 400;
    }
    a.tab-link:hover{
        color: #FFFFFF;
        transition: all .5s ease;
    }
    .active{
        padding: 3px;
        border-radius: 8px;
        border: 1px solid #F07C00;
        background-color: #F07C00;
        transition: all .5s ease;
    }
    .active a{
        font-size: 0.7rem;
        color:#FFFFFF;
    }
}

@media (min-width: 468px) and (max-width: 768px){
    .logo img{
        /* display: block;
        margin: 0 auto; */
        margin-top: 5px;
        width: 160px;
        height: auto;
    }
    .content-header{
        position: fixed;
        width: 100%;
        padding: 10px 0 0 0;
        background: rgba(255, 255, 255, 1);
        /* border-radius: 16px; */
        /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
        /* backdrop-filter: blur(19.9px); */
        /* -webkit-backdrop-filter: blur(19.9px); */
        /* border: 1px solid rgba(255, 255, 255, 0.58); */
    }
    .menu-btn-catalog{
		position:fixed;
		display: block;
		justify-content: center;
		align-items: center;
		padding-top: 30px;
        padding-bottom: 40px;
		width: 60px;
		height: 60px;
        top: 10px;
        left: -100px;
		z-index: 1000;
		cursor: pointer;
		transition: all .5s ease-in-out;
	}
	.menu-btn__burger{
		width: 43px;
		height: 2px;
		background-color: #000000;
		border-radius: 5px;
        margin-left: 30px;
		/*box-shadow: 0 2px 5px rgba(255,101,47,2);*/
		transition: all .5s ease-in-out;
	}
	.menu-btn__burger::before,
	.menu-btn__burger::after{
		content: '';
		position: absolute;
		width: 43px;
		height: 2px;
		background-color: #000000;
		border-radius: 5px;
		transition: all .5s ease-in-out;
	}
	.menu-btn__burger::before{
		width: 43px;
		transform: translateY(-10px);
	}
	.menu-btn__burger::after{
		width: 43px;
		transform: translateY(10px);
	}
    .catalog-tab{
        display: flex;
        align-items: start;
        justify-content: space-around;
        border-bottom: 1px solid #D9D9D9;
    }
    .head-title{
        margin-top: 100px;
        padding: 10px 0 0 15px;
        font-size: 20px;
		font-weight: 700;
    }
    .tab-list{
        margin: 100px 0 0 10px;
        display: inline-flex;
        align-items: start;
        justify-content: start;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        scroll-behavior: smooth;
    }
    .tab-list::-webkit-scrollbar {
        width: 1px;
    }
      
    .tab-list::-webkit-scrollbar-track {
        box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.1);
    }
    
    .tab-list::-webkit-scrollbar-thumb {
        background-color: #FFF;
        outline: 0px solid #FFF;
    }
    
    .li-tab{
        padding: 3px;
        height: 35px;
        word-wrap: normal;
        margin: 5px 10px 5px 5px;
        border: 1px solid #c6c6c6;
        border-radius: 8px;
        background-color: #FFFFFF;
        transition: all .5s ease;
    }
    .li-tab:hover{
        padding: 5px;
        color: #FFFFFF;
        border-radius: 8px;
        background-color: #F07C00;
        transition: all .5s ease;
    }
    a.tab-link{
        padding: 8px;
        text-decoration: none;
        color: #000000;
        font-size: 0.7rem;
        font-weight: 400;
    }
    a.tab-link:hover{
        color: #FFFFFF;
        transition: all .5s ease;
    }
    .active{
        padding: 3px;
        border-radius: 8px;
        border: 1px solid #F07C00;
        background-color: #F07C00;
        transition: all .5s ease;
    }
    .active a{
        font-size: 0.7rem;
        color:#FFFFFF;
    }
}

@media (max-width: 467px){
    .logo img{
        /* display: block;
        margin: 0 auto; */
        margin-top: 5px;
        width: 150px;
        height: auto;
    }
    .content-header{
        position: fixed;
        width: 100%;
        padding: 10px 0 0 0;
        background: rgba(255, 255, 255, 1);
        /* border-radius: 16px; */
        /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
        /* backdrop-filter: blur(19.9px); */
        /* -webkit-backdrop-filter: blur(19.9px); */
        border-bottom: 1px solid #dcdcdc;
    }
    .menu-btn-catalog{
		position:fixed;
		display: block;
		justify-content: center;
		align-items: center;
		padding-top: 30px;
        padding-bottom: 40px;
		width: 60px;
		height: 60px;
        top: 10px;
        left: -10px;
		z-index: 1000;
		cursor: pointer;
		transition: all .5s ease-in-out;
	}
	.menu-btn__burger{
		width: 30px;
		height: 2px;
		background-color: #000000;
		border-radius: 10px;
        margin-left: 30px;
		/*box-shadow: 0 2px 5px rgba(255,101,47,2);*/
		transition: all .5s ease-in-out;
	}
	.menu-btn__burger::before,
	.menu-btn__burger::after{
		content: '';
		position: absolute;
		width: 30px;
		height: 2px;
		background-color: #000000;
		border-radius: 10px;
		transition: all .5s ease-in-out;
	}
	.menu-btn__burger::before{
		width: 30px;
		transform: translateY(-8px);
	}
	.menu-btn__burger::after{
		width: 30px;
		transform: translateY(8px);
	}
    .catalog-tab{
        position: fixed;
		top: 0px;
        left: -300px;
        right: 40px;
		width: 270px;
		height: 100%;
		background-color: #FFF;
		border-radius: 10px;
		display: flex;
		box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
		flex-direction: column;
		justify-content: flex-start;
		transition: all 1s ease;
        /* display: flex;
        align-items: start;
        justify-content: space-around;
        border-bottom: 1px solid #D9D9D9; */
    }
    .tab-list{
        margin: 80px 0 0 10px;
        display: block;
        align-items: start;
        justify-content: start;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        scroll-behavior: smooth;
    }
    .tab-list::-webkit-scrollbar {
        width: 1px;
    }

    .tab-list::-webkit-scrollbar-track {
        box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.1);
    }
    
    .tab-list::-webkit-scrollbar-thumb {
        background-color: #FFF;
        outline: 0px solid #FFF;
    }
    
    .li-tab{
        padding: 3px;
        height: 35px;
        word-wrap: normal;
        margin: 5px 10px 5px 5px;
        /* border: 1px solid #c6c6c6; */
        border-radius: 8px;
        background-color: #FFFFFF;
        transition: all .5s ease;
    }
    .li-tab:hover{
        padding: 5px;
        color: #FFFFFF;
        border-radius: 8px;
        background-color: #F07C00;
        transition: all .5s ease;
    }
    a.tab-link{
        padding: 8px;
        text-decoration: none;
        color: #000000;
        font-size: 0.7rem;
        font-weight: 400;
    }
    a.tab-link:hover{
        color: #FFFFFF;
        transition: all .5s ease;
    }
    .active{
        padding: 3px;
        border-radius: 8px;
        border: 1px solid #F07C00;
        background-color: #F07C00;
        transition: all .5s ease;
    }
    .active a{
        font-size: 0.7rem;
        color:#FFFFFF;
    }
}

/* display area for products */
/* section content showcase */
@media (min-width: 1080px) and (max-width: 1920px){
    .content-catalog{
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    .card-view{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .decorated-card{
        margin: 20px auto 0px auto;
        height: 230px;
        width: 65%;
        display: flex;
        justify-content: space-around;
        background-image: linear-gradient(to left,#0C1F26, #5B6569); 
        border-radius: 20px;
        transition: all .5s ease;
    }
    .card-light-text{
        margin: 40px 0 0 30px;
        font-weight: 300;
        font-size: .9rem;
        color: #FFF;
    }
    .card-head-text{
        margin: 10px 0 0 30px;
        font-weight: 700;
        font-size: 2.4rem;
        color: #FFF;
    }
    .card-tags{
        margin: 20px 0 0 30px;
        display: flex;
        align-items: center;
    }
    .tag{
        margin: 0 10px 0 0;
        padding: 5px 7px;
        font-size: .8rem;
        font-weight: 400;
        border-radius: 7px;
        color: #FFFFFF;
        background: rgba(255, 255,255, .1);
    }
    .card-img img{
        height: 90%;
        width: auto;
    }
    .card-img:hover img{
        transform: translateY(-12px);
        transition: all .5s ease-in-out;
    }
    .square-card{
        margin: 20px 20px 0 0px;
        padding: 30px;
        height: 230px;
        width: 30%;
        background: #0C1F26; 
        border-radius: 20px;
        transition: all .5s ease;
    }
    .square-head-text{
        font-weight: 700;
        font-size: 2.4rem;
        color: #FFF;   
    }
    .square-light-text{
        font-weight: 300;
        font-size: 1.0rem;
        color: #FFF;   
    }
    .product-grid{
        margin: 20px 25px 50px 30px;
        display: grid;
        grid-template-columns: auto auto auto auto;
        /* column-gap: 50px; */
        row-gap: 20px;
        align-items: flex-start;
        justify-content: space-between;
    }
    .card-link{
        text-decoration: none;
        color:#000000;
    }
    .product-card{
        margin: 20px auto 0px auto;
        padding: 15px;
        width: 330px;
        /* height: 260px; */
        /* background-color: #f9f8f8; */
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        /* border: 1px solid #cbcbcb; */
        border-radius: 20px;
        cursor: pointer;
    }
    .product-bg{
        border-radius: 15px;
        background-color: #eeeeee;
    }
    .respo-img{
        height: 170px;
        width: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        justify-content: center;
    }
    .respo-img:hover{
        /* transform: translateY(-15px); */
        transition: all .5s ease-in-out;
    }
    .product-text{
        margin: 5px 0 15px 10px;
        font-size: 1.0rem;
        font-weight: 600;
        text-transform: capitalize;
    }
    .btn{
        padding: 8px 0 8px 0;
        height: 40px;
        width: 100%;
        text-align: center;
        justify-content: center;
        background-color: #F07C00;
        border-radius: 8px;
    }
    a.btn-view{
        margin:5px;
        font-weight: 200;
        font-size: 0.9rem;
        text-align: center;
        color: #FFFFFF;
    }
}

@media (min-width: 769px) and (max-width: 1079px){
    .content-catalog{
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    .card-view{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .decorated-card{
        margin: 20px auto 0px auto;
        height: 230px;
        width: 65%;
        display: flex;
        justify-content: space-around;
        background-image: linear-gradient(to left,#0C1F26, #5B6569); 
        border-radius: 20px;
        transition: all .5s ease;
    }
    .card-light-text{
        margin: 40px 0 0 30px;
        font-weight: 300;
        font-size: .9rem;
        color: #FFF;
    }
    .card-head-text{
        margin: 10px 0 0 30px;
        font-weight: 700;
        font-size: 1.7rem;
        color: #FFF;
    }
    .card-tags{
        margin: 20px 0 0 30px;
        display: flex;
        align-items: center;
    }
    .tag{
        margin: 0 10px 0 0;
        padding: 5px 7px;
        font-size: .6rem;
        font-weight: 400;
        border-radius: 7px;
        color: #FFFFFF;
        background: rgba(255, 255,255, .1);
    }
    .card-img img{
        height: 70%;
        width: auto;
    }
    .card-img:hover img{
        transform: translateY(-12px);
        transition: all .5s ease-in-out;
    }
    .square-card{
        margin: 20px auto 0px auto;
        padding: 30px;
        height: 230px;
        width: 30%;
        background: #0C1F26; 
        border-radius: 20px;
        transition: all .5s ease;
    }
    .square-head-text{
        font-weight: 700;
        font-size: 2.4rem;
        color: #FFF;   
    }
    .square-light-text{
        font-weight: 300;
        font-size: 1.0rem;
        color: #FFF;   
    }
    .product-grid{
        margin: 15px 30px 50px 30px;
        display: grid;
        grid-template-columns: auto auto auto;
        /* column-gap: 50px; */
        row-gap: 20px;
        align-items: flex-start;
        justify-content: space-between;
    }
    .card-link{
        text-decoration: none;
        color:#000000;
    }
    .product-card{
        /* margin-left: 40%; */
        margin-top: 20px;
        padding: 15px;
        width: 300px;
        /* height: 260px; */
        /* background-color: #f9f8f8; */
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        /* border: 1px solid #cbcbcb; */
        border-radius: 20px;
        cursor: pointer;
    }
    .product-bg{
        border-radius: 15px;
        background-color: #eeeeee;
    }
    .respo-img{
        height: 170px;
        width: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        justify-content: center;
    }
    .respo-img:hover{
        /* transform: translateY(-15px); */
        transition: all .5s ease-in-out;
    }
    .product-text{
        margin: 5px 0 15px 10px;
        font-size: 1.0rem;
        font-weight: 600;
        text-transform: capitalize;
    }
    .btn{
        padding: 8px 0 8px 0;
        height: 40px;
        width: 100%;
        text-align: center;
        justify-content: center;
        background-color: #F07C00;
        border-radius: 8px;
    }
    a.btn-view{
        margin:5px;
        font-weight: 200;
        font-size: 0.9rem;
        text-align: center;
        color: #FFFFFF;
    }
}

@media (min-width: 468px) and (max-width: 768px){
    .content-catalog{
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    .card-view{
        display: block;
        align-items: center;
        justify-content: center;
    }
    .decorated-card{
        margin: 20px auto 0px auto;
        height: 210px;
        width: 95%;
        display: flex;
        justify-content: center;
        background-image: linear-gradient(to left,#0C1F26, #5B6569); 
        border-radius: 20px;
        transition: all .5s ease;
    }
    .card-light-text{
        margin: 40px 0 0 30px;
        font-weight: 300;
        font-size: .9rem;
        color: #FFF;
    }
    .card-head-text{
        margin: 10px 0 0 30px;
        font-weight: 700;
        font-size: 1.4rem;
        color: #FFF;
    }
    .card-tags{
        margin: 20px 0 0 30px;
        display: flex;
        align-items: center;
    }
    .tag{
        margin: 0 10px 0 0;
        padding: 5px 7px;
        font-size: .6rem;
        font-weight: 400;
        border-radius: 7px;
        color: #FFFFFF;
        background: rgba(255, 255,255, .1);
    }
    .card-img img{
        height: 70%;
        width: auto;
    }
    .card-img:hover img{
        transform: translateY(-12px);
        transition: all .5s ease-in-out;
    }
    .square-card{
        margin: 20px auto 0px auto;
        padding: 30px;
        height: 120px;
        width: 95%;
        background: #0C1F26; 
        border-radius: 20px;
        transition: all .5s ease;
    }
    .square-head-text{
        font-weight: 700;
        font-size: 1.4rem;
        color: #FFF;   
    }
    .square-light-text{
        font-weight: 300;
        font-size: 1.0rem;
        color: #cfcfcf;   
    }
    .product-grid{
        margin: 15px 20px 50px 20px;
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 10px;
        align-items: flex-start;
        justify-content: space-between;
    }
    .card-link{
        text-decoration: none;
        color:#000000;
    }
    .product-card{
        /* margin-left: 40%; */
        margin-top: 20px;
        padding: 10px;
        width: 240px;
        /* height: 230px; */
        /* background-color: #f9f8f8; */
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        /* border: 1px solid #cbcbcb; */
        border-radius: 20px;
        cursor: pointer;
    }
    .product-bg{
        border-radius: 15px;
        background-color: #eeeeee;
    }
    .respo-img{
        height: 130px;
        width: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        justify-content: center;
    }
    .respo-img:hover{
        /* transform: translateY(-15px); */
        transition: all .5s ease-in-out;
    }
    .product-text{
        margin: 5px 0 15px 10px;
        font-size: 1.0rem;
        font-weight: 600;
        text-transform: capitalize;
    }
    .btn{
        padding: 5px 0 8px 0;
        height: 35px;
        width: 100%;
        text-align: center;
        justify-content: center;
        background-color: #F07C00;
        border-radius: 10px;
    }
    a.btn-view{
        margin:5px;
        font-weight: 200;
        font-size: 0.8rem;
        text-align: center;
        color: #FFFFFF;
    }
}

@media (max-width: 467px){
    .content-catalog{
        margin: 0;
        padding: 0;
        max-width: 467px;
        overflow-x: hidden;
    }
    .card-view{
        display: block;
        align-items: center;
        justify-content: center;
    }
    .decorated-card{
        margin: 90px 10px 0px 10px;
        /* height: 180px; */
        width: 95%;
        display: block;
        justify-content: space-around;
        background-image: linear-gradient(to left,#0C1F26, #5B6569); 
        border-radius: 20px;
        transition: all .5s ease;
    }
    .display-text{
        padding: 1px 0 0 0;
    }
    .card-light-text{
        margin: 30px 0 0 25px;
        font-weight: 300;
        font-size: 0.8rem;
        color: #FFF;
    }
    .card-head-text{
        margin: 10px 0 0 25px;
        font-weight: 700;
        font-size: 1.5rem;
        color: #FFF;
    }
    .card-tags{
        margin: 20px 0 0 25px;
        display: flex;
        align-items: center;
    }
    .tag{
        margin: -10px 5px 0 0;
        padding: 5px 7px;
        font-size: .57rem;
        font-weight: 400;
        border-radius: 5px;
        color: #FFFFFF;
        background: rgba(255, 255,255, .1);
    }
    .card-img img{
        height: auto;
        width: 100%;
    }
    .card-img:hover img{
        transform: translateY(-12px);
        transition: all .5s ease-in-out;
    }
    .square-card{
        margin: 10px 10px 0 10px;
        padding: 30px;
        height: 110px;
        width: 95%;
        align-items: center;
        background: #0C1F26; 
        border-radius: 20px;
        transition: all .5s ease;
    }
    .square-head-text{
        font-weight: 700;
        font-size: 1.2rem;
        color: #FFF;   
    }
    .square-light-text{
        font-weight: 300;
        font-size: 1.0rem;
        color: #FFF;   
    }
    .product-grid{
        margin: 0px 20px 50px 10px;
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 10px;
        row-gap: 0px;
        align-items: flex-start;
        justify-content: space-between;
    }
    .card-link{
        text-decoration: none;
        color:#000000;
    }
    .product-card{
        /* margin-left: 40%; */
        margin-top: 20px;
        padding: 10px;
        width: 180px;
        /* height: 190px; */
        /* background-color: #f9f8f8; */
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        /* border: 1px solid #cbcbcb; */
        border-radius: 15px;
        cursor: pointer;
    }
    .product-bg{
        border-radius: 10px;
        background-color: #eeeeee;
    }
    .respo-img{
        height: 100px;
        width: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        justify-content: center;
    }
    .respo-img:hover{
        /* transform: translateY(-15px); */
        transition: all .5s ease-in-out;
    }
    .product-text{
        margin: 5px 0 15px 5px;
        font-size: 0.7rem;
        font-weight: 500;
        overflow-wrap: break-word;
        text-transform: capitalize;
    }
    .btn{
        padding: 2px 0 8px 0;
        height: 30px;
        width: 100%;
        text-align: center;
        justify-content: center;
        background-color: #F07C00;
        border-radius: 7px;
    }
    a.btn-view{
        margin:5px;
        font-weight: 200;
        font-size: 0.8rem;
        text-align: center;
        color: #FFFFFF;
    }
}


/*================================== content footer =========================================*/

@media (min-width: 1080px) and (max-width: 1980px){
    .content-footer{
        margin: 40px 0 0 0;
        background: #0C1F26;
    }
    .row-space{
        display: flex;
        align-content: center;
        justify-content: space-between;
    }
    .footer-img{
        margin: 30px 0px 0px 40px; 
    }
    .row-footer{
        display: flex;
        align-content: center;
        justify-content: flex-start;
    }
    .footer-col{
        margin: 30px 0 0 80px;
        display: block;
        align-content: center;
        justify-content: space-around;
    }
    .cs-text{
        font-size: 14px;
        font-weight: 400;
        color: #FFFFFF;
        margin-bottom: 20px;
    }
    .links{
        font-size: 13px;
        color: #9A9A9A;
        text-decoration: none;
    }
    .copyrights{ 
        margin: 50px 0 0 80px;
        padding-bottom: 30px;
        font-size: 13px;
        color: #9A9A9A;
    }
    .blur-bg{
        padding-right: 90px;
        height: 350px;
        width: auto;
        filter: blur(40px);
    }
}
@media (min-width: 769px) and (max-width: 1079px){
    .content-footer{
        margin: 40px 0 0 0;
        background: #0C1F26;
    }
    .row-space{
        display: flex;
        align-content: center;
        justify-content: space-between;
    }
    .footer-img{
        margin: 30px 0px 0px 40px; 
    }
    .row-footer{
        display: flex;
        align-content: center;
        justify-content: flex-start;
    }
    .footer-col{
        margin: 30px 0 0 80px;
        display: block;
        align-content: center;
        justify-content: space-around;
    }
    .cs-text{
        font-size: 14px;
        font-weight: 400;
        color: #FFFFFF;
        margin-bottom: 20px;
    }
    .links{
        font-size: 13px;
        color: #9A9A9A;
        text-decoration: none;
    }
    .copyrights{ 
        margin: 50px 0 0 80px;
        padding-bottom: 30px;
        font-size: 13px;
        color: #9A9A9A;
    }
    .blur-bg{
        padding-right: 90px;
        height: 350px;
        width: auto;
        filter: blur(40px);
    }
}
@media (min-width: 468px) and (max-width: 768px){
    .content-footer{
        margin: 40px 0 0 0;
        background: #0C1F26;
        overflow: hidden;
    }
    .row-space{
        display: flex;
        align-content: center;
        justify-content: space-between;
    }
    .footer-img{
        margin: 30px 0px 0px 40px; 
        height: 50px;
        width: auto;
    }
    .row-footer{
        width: 300px;
        display: block;
        align-content: center;
        justify-content: flex-start;
    }
    .footer-col{
        margin: 30px 0 0 80px;
        display: block;
        align-content: center;
        justify-content: space-around;
    }
    .cs-text{
        font-size: 14px;
        font-weight: 400;
        color: #FFFFFF;
        margin-bottom: 20px;
    }
    .links{
        font-size: 13px;
        color: #9A9A9A;
        text-decoration: none;
    }
    .copyrights{ 
        margin: 50px 0 0 80px;
        padding-bottom: 30px;
        width: 400px;
        font-size: 13px;
        color: #9A9A9A;
    }
    .blur-bg{
        /* padding-right: 190px; */
        height: 150px;
        width: auto;
        filter: blur(100px);
    }
}
@media (max-width: 467px){
    .content-footer{
        margin: 40px 0 0 0;
        background: #0C1F26;
        overflow: hidden;
    }
    .row-space{
        display: flex;
        align-content: center;
        justify-content: space-between;
    }
    .footer-img{
        margin: 30px 0px 0px 20px; 
        height: 50px;
        width: auto;
    }
    .row-footer{
        width: 300px;
        display: block;
        align-content: center;
        justify-content: flex-start;
    }
    .footer-col{
        margin: 30px 0 0 40px;
        display: block;
        align-content: center;
        justify-content: space-around;
    }
    .cs-text{
        font-size: 14px;
        font-weight: 400;
        color: #FFFFFF;
        margin-bottom: 20px;
    }
    .links{
        font-size: 13px;
        color: #9A9A9A;
        text-decoration: none;
    }
    .copyrights{ 
        margin: 50px 0 0 40px;
        padding-bottom: 30px;
        width: 400px;
        font-size: 10px;
        color: #FFF;
    }
    .blur-bg{
        /* padding-right: 190px; */
        height: 100px;
        width: auto;
        filter: blur(100px);
    }
}

/*================================== End content footer =========================================*/

/*.content-catalog{
    margin: 0;
    padding: 0;
    max-width: 467px;
    overflow-x: hidden;
}
.card-view{
    display: block;
    align-items: center;
    justify-content: center;
}
.decorated-card{
    margin: 20px 10px 0px 10px;
    height: 185px;
    width: 95%;
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(to left,#0C1F26, #5B6569); 
    border-radius: 20px;
    transition: all .5s ease;
}
.card-light-text{
    margin: 40px 0 0 30px;
    font-weight: 300;
    font-size: 0.7rem;
    color: #FFF;
}
.card-head-text{
    margin: 10px 0 0 30px;
    font-weight: 700;
    font-size: 1.2rem;
    color: #FFF;
}
.card-tags{
    margin: 20px 0 0 30px;
    display: flex;
    align-items: center;
}
.tag{
    margin: -10px 10px 0 0;
    padding: 5px 7px;
    font-size: .5rem;
    font-weight: 400;
    border-radius: 5px;
    color: #FFFFFF;
    background: rgba(255, 255,255, .1);
}
.card-img img{
    height: 65%;
    width: auto;
}
.card-img:hover img{
    transform: translateY(-12px);
    transition: all .5s ease-in-out;
}
.square-card{
    margin: 10px 10px 0 10px;
    padding: 30px;
    height: 110px;
    width: 95%;
    align-items: center;
    background: #0C1F26; 
    border-radius: 20px;
    transition: all .5s ease;
}
.square-head-text{
    font-weight: 700;
    font-size: 1.2rem;
    color: #FFF;   
}
.square-light-text{
    font-weight: 300;
    font-size: 1.0rem;
    color: #FFF;   
}
.product-grid{
    margin: 15px 10px 50px 8px;
    display: block;
    grid-template-columns: auto;
    column-gap: 15px;
    align-items: flex-start;
    justify-content: start;
}
.product-card{
    /* margin-left: 40%; 
    margin-top: 20px;
    width: 100%;
    height: 200px;
    background-color: #f9f8f8;
    border: 1px solid #cbcbcb;
    border-radius: 15px;
    cursor: pointer;
}
.respo-img{
    height: 160px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}
.respo-img:hover{
    transform: translateY(-15px);
    transition: all .5s ease-in-out;
}
.product-text{
    margin: -5px 0 20px 20px;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
}*/